{% extends 'layout/layout.html' %} {% block content %} {% load static %}

<section class="tf__banner pt_160">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 m-auto">
        <div class="tf__banner_text">
          <h6>GreenAware lets keep our planet safe</h6>
          <h1>GreenAware</h1>
          <p>
            what climate change occurs in your area
            <br />
            Join #1 app to track your data.
          </p>
          <a href="signup.html" class="tf__common_btn"
            >Sign up for free <i class="fa-regular fa-arrow-right-long"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-10 m-auto">
        <div class="tf__banner_img">
          <img
            src="static/assets/images/new banner.jpg"
            alt="banner img"
            class="img-fluid w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}
