
.navbar-brand {
    font-family: Leckerli One;
    color: #0A0;
}
.nav-link {
    color: black;
}
footer {
    text-align: center;
}

.card-title {
    text-align: center;
    font-size: 40px;
    padding-top: 17%;
}
.card-text {
    text-align: center;
}