{% extends 'layout/layout.html' %} {% block content %} {% load static %}

<section class="tf__banner pt_160">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 m-auto">
        <div class="tf__banner_text">
          <h6>Contis.ai MAKES CONTENT FAST & EASY</h6>
          <h1>Write content 10x faster</h1>
          <p>
            Give customers a structutal experience they'll and come back.
            <br />
            Join #1 app to track your data.
          </p>
          <a href="signup.html" class="tf__common_btn"
            >Sign up for free <i class="fa-regular fa-arrow-right-long"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-10 m-auto">
        <div class="tf__banner_img">
          <img
            src="images/banner_img.jpg"
            alt="banner img"
            class="img-fluid w-100"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="tf__service">
  <div class="container">
    <div class="tf__brand pt_80 pb_65">
      <div class="row">
        <div class="col-xl-12">
          <div class="tf__brand_heading">
            <h6>Trusted <span>120 companies</span> across the world</h6>
          </div>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-xl-2 col-sm-6 col-md-4">
          <a href="#" class="tf__brand_img">
            <img
              src="images/Brands-1.png"
              alt="brand name"
              class="img-fluid w-100"
            />
          </a>
        </div>
        <div class="col-xl-2 col-sm-6">
          <a href="#" class="tf__brand_img">
            <img
              src="images/Brands-2.png"
              alt="brand name"
              class="img-fluid w-100"
            />
          </a>
        </div>
        <div class="col-xl-2 col-sm-6">
          <a href="#" class="tf__brand_img">
            <img
              src="images/Brands-3.png"
              alt="brand name"
              class="img-fluid w-100"
            />
          </a>
        </div>
        <div class="col-xl-2 col-sm-6">
          <a href="#" class="tf__brand_img">
            <img
              src="images/Brands-4.png"
              alt="brand name"
              class="img-fluid w-100"
            />
          </a>
        </div>
        <div class="col-xl-2 col-sm-6">
          <a href="#" class="tf__brand_img">
            <img
              src="images/Brands-5.png"
              alt="brand name"
              class="img-fluid w-100"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="tf__main_service pt_100 ml_70 mr_70 pb_75">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-md-8 m-auto">
          <div class="tf__common_heading">
            <h6><span>Contis.ai</span> HELP YOU TO CREATE CONTENT FAST</h6>
            <h2>Experience the full power of an AI content generator</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-9">
          <div class="row">
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="tf__single_service">
                <span><i class="ca-icon-edit-pen"></i></span>
                <a class="tf__single_service_link" href="use-cases-details.html"
                  >Article generation</a
                >
                <p>Write unique & plagiarism- free content for blogs</p>
                <ul>
                  <li>Blog Article Writer</li>
                  <li>Blog Ideas, Intros</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="tf__single_service">
                <span><i class="ca-icon-bag"></i></span>
                <a class="tf__single_service_link" href="use-cases-details.html"
                  >Ecommerce copy</a
                >
                <p>Write unique & plagiarism- free content for blogs</p>
                <ul>
                  <li>Product Descriptions</li>
                  <li>Product Benefits</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="tf__single_service">
                <span><i class="ca-icon-document"></i></span>
                <a class="tf__single_service_link" href="use-cases-details.html"
                  >Sales copy</a
                >
                <p>Write unique & plagiarism- free content for blogs</p>
                <ul>
                  <li>AIDA</li>
                  <li>Pain-Agitate-Solution</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="tf__single_service">
                <span><i class="ca-icon-bookmark"></i></span>
                <a class="tf__single_service_link" href="use-cases-details.html"
                  >Social media cont.</a
                >
                <p>Write unique & plagiarism- free content for blogs</p>
                <ul>
                  <li>Inspiration Ideas</li>
                  <li>YouTube Titles</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="tf__single_service">
                <span><i class="ca-icon-ticket-star"></i></span>
                <a class="tf__single_service_link" href="use-cases-details.html"
                  >Ad copy</a
                >
                <p>Write unique & plagiarism- free content for blogs</p>
                <ul>
                  <li>google ad</li>
                  <li>facebook ad</li>
                </ul>
              </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="tf__single_service">
                <span><i class="ca-icon-graph"></i></span>
                <a class="tf__single_service_link" href="use-cases-details.html"
                  >Startup tools</a
                >
                <p>Write unique & plagiarism- free content for blogs</p>
                <ul>
                  <li>Slogan Generator</li>
                  <li>Audience Refiner</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="tf__single_service_right">
            <div class="tf__single_service_right_img">
              <img
                src="images/service_img.png"
                alt="service"
                class="img-fluid w-100"
              />
            </div>
            <a href="#" class="tf__single_service_right_heading"
              >Pick a plan on Met.Ai & fall in love!</a
            >
            <p>Write unique & plagiarism- free content for blogs</p>
            <a href="signup.html" class="tf__common_btn"
              >Sign up for free <i class="fa-regular fa-arrow-right-long"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
