{% load static %}

<div class="tf__topbar">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <p>Welcome to <a href="#">GreenAware</a></p>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg tf__main_menu">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html"
      ><img
        src="static/assets/images/new logo.jpg"
        alt="logo"
        class="img-fluid w-50"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="far fa-stream menu_icon_bar"></i>
      <i class="far fa-times close_icon_close"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a class="nav-link active" href="index.html">dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="features.html">observations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="pricing.html">make payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="use_case.html">about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pages <i class="far fa-plus"></i></a>
          <ul class="tf__dropdown">
            <li><a href="pricing.html">payment</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="blog_details.html">Blog details</a></li>
            <li><a href="use_case.html">record details</a></li>
            <li>
              <a href="dashboard.html">observations</a>
            </li>
            <li>
              <a href="login.html">Login</a>
            </li>
            <li>
              <a href="register.html">register</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact.html">contact</a>
        </li>
      </ul>
      <ul class="tf__menu_btn d-flex flex-wrap align-items-center">
        <li><a href="login.html">Log in</a></li>
        <li><a href="register.html" class="tf__menu_2nd_btn">register</a></li>
      </ul>
    </div>
  </div>
</nav>
